@charset "utf-8";
/***********************************************************************
reset & common style
update:20141209 
************************************************************************/

/* reset ============================================================= */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
audio[controls],canvas,video {display: inline-block;*display: inline;zoom: 1;}
html {font-size: 100%; /* 1 */ overflow-y: scroll; /* 2 */ -webkit-tap-highlight-color: rgba(0,0,0,0); /* 3 */ -webkit-text-size-adjust: 100%; /* 4 */ -ms-text-size-adjust: 100%; /* 4 */ }
body {margin: 0;}
body,button,input,select,textarea {font-family: sans-serif;}
a {color: #fff700;}
a:visited {color: #fff700;}
a:focus {outline: thin dotted;}
a:hover,a:active {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b, strong { font-weight: bold; }
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
mark {background: #ff0;color: #000;}
pre,code,kbd,samp {font-family: monospace, monospace;_font-family: 'courier new', monospace;font-size: 1em;}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
q {quotes: none;}
q:before,q:after {content: '';content: none;}

small {font-size: 75%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ul,ol {margin: 1em 0;padding: 0 0 0 40px;}
dd {margin: 0 0 0 40px;}
nav ul,nav ol {list-style: none;}
img {border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
form {margin: 0;}
fieldset {margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */ *margin-left: -7px; /* 2 */ }
button,input,select,textarea {font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }
button,input {line-height: normal; /* 1 */ *overflow: visible;  /* 2 */ }
button,
input[type="button"],input[type="reset"],input[type="submit"] {cursor: pointer; /* 1 */ -webkit-appearance: button; /* 2 */ }
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;}
input[type="search"] {-webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }
table {border-collapse: collapse;border-spacing: 0;}
p{ margin: 0 0 1em 0; }

/* Common Style ============================================================= */
/* font */ 
h1{ font-size: 2.0em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }
h2{ font-size: 1.5em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }
h3{ font-size: 1.3em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }
h4{ font-size: 1.2em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }
h5{ font-size: 1em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }
h6{ font-size: 1em; font-weight: bold; margin: 0 0 1em 0; padding: 0; }

.xsmall { font-size: 0.5em; }
.small { font-size: 0.7em; }
.medium { font-size: 0.85em; }
.regular { font-size: 1em; }
.large { font-size: 1.2em; }
.xlarge { font-size: 1.5em; }
.xxlarge { font-size: 2em; }
.clearsize{ font-size: inherit; }

.n{ font-weight: normal; }
.b{ font-weight: bold; }
.i{ font-style: italic; }
.o{ font-style: oblique; }
.serif{ font-family: serif; }
.s-serif{ font-family: sans-serif; }

.dbrown{color:#4f3727;}
.brown{color:#998075;}
.lbrown{color:#714F45;}
.llbrown{color:#C4B1AA;}
.pink{color:#E95098;}
.purple{color:#c03eb9;}
.green{color:#AACD06;}
.lblue{color:#99E5FF;}
.red{color:#de2d16;}
.orange{color:#F39800;}
.bgreen{color:#66CCCC;}
.pblue{color:#6666CC;}
.beige{color:#FBF8F0;}
.lyellow{color:#ffffbe;}
.yellow{color:#FEFE66;}
.navy{color: #0068b7;}
.black{color:#000;}
.white{color:#FFF;}

/* line-height */
.lh0{ line-height: 0; }
.lh1{ line-height: 1; }
.lh12{ line-height: 1.2; }
.lh15{ line-height: 1.5; }
.lh2{ line-height: 2; }

/* margin */
.mg0a {margin:0px;}
.mg5a {margin:5px;}
.mg10a{margin:10px;}
.mg15a{margin:15px;}
.mg20a{margin:20px;}
.mg30a{margin:30px;}
.mg50a{margin:50px;}

.mg0v {margin-top:0px; margin-bottom:0px;}
.mg5v {margin-top:5px; margin-bottom:5px;}
.mg10v{margin-top:10px; margin-bottom:10px;}
.mg15v{margin-top:15px; margin-bottom:15px;}
.mg20v{margin-top:20px; margin-bottom:20px;}
.mg30v{margin-top:30px; margin-bottom:30px;}
.mg50v{margin-top:50px; margin-bottom:50px;}

.mg0h {margin-right:0px; margin-left:0px;}
.mg5h {margin-right:5px; margin-left:5px;}
.mg10h{margin-right:10px; margin-left:10px;}
.mg15h{margin-right:15px; margin-left:15px;}
.mg20h{margin-right:20px; margin-left:20px;}
.mg30h{margin-right:30px; margin-left:30px;}
.mg50h{margin-right:50px; margin-left:50px;}

.mg0t {margin-top:0px;}
.mg5t {margin-top:5px;}
.mg10t{margin-top:10px;}
.mg15t{margin-top:15px;}
.mg20t{margin-top:20px;}
.mg30t{margin-top:30px;}
.mg50t{margin-top:50px;}

.mg0r {margin-right:0px;}
.mg5r {margin-right:5px;}
.mg10r{margin-right:10px;}
.mg15r{margin-right:15px;}
.mg20r{margin-right:20px;}
.mg30r{margin-right:30px;}
.mg50r{margin-right:50px;}

.mg0b {margin-bottom:0px;}
.mg5b {margin-bottom:5px;}
.mg10b{margin-bottom:10px;}
.mg15b{margin-bottom:15px;}
.mg20b{margin-bottom:20px;}
.mg30b{margin-bottom:30px;}
.mg50b{margin-bottom:50px;}

.mg0l {margin-left:0px;}
.mg5l {margin-left:5px;}
.mg10l{margin-left:10px;}
.mg15l{margin-left:15px;}
.mg20l{margin-left:20px;}
.mg30l{margin-left:30px;}
.mg50l{margin-left:50px;}

/* padding */
.pd0a {padding:0px;}
.pd5a {padding:5px;}
.pd10a{padding:10px;}
.pd15a{padding:15px;}
.pd20a{padding:20px;}
.pd30a{padding:30px;}
.pd50a{padding:50px;}

.pd0v {padding-top:0px; padding-bottom:0px;}
.pd5v {padding-top:5px; padding-bottom:5px;}
.pd10v{padding-top:10px; padding-bottom:10px;}
.pd15v{padding-top:15px; padding-bottom:15px;}
.pd20v{padding-top:20px; padding-bottom:20px;}
.pd30v{padding-top:30px; padding-bottom:30px;}
.pd50v{padding-top:50px; padding-bottom:50px;}

.pd0h {padding-right:0px; padding-left:0px;}
.pd5h {padding-right:5px; padding-left:5px;}
.pd10h{padding-right:10px; padding-left:10px;}
.pd15h{padding-right:15px; padding-left:15px;}
.pd20h{padding-right:20px; padding-left:20px;}
.pd30h{padding-right:30px; padding-left:30px;}
.pd50h{padding-right:50px; padding-left:50px;}

.pd0t {padding-top:0px;}
.pd5t {padding-top:5px;}
.pd10t{padding-top:10px;}
.pd15t{padding-top:15px;}
.pd20t{padding-top:20px;}
.pd30t{padding-top:30px;}
.pd50t{padding-top:50px;}

.pd0r {padding-right:0px;}
.pd5r {padding-right:5px;}
.pd10r{padding-right:10px;}
.pd15r{padding-right:15px;}
.pd20r{padding-right:20px;}
.pd30r{padding-right:30px;}
.pd50r{padding-right:50px;}

.pd0b {padding-bottom:0px;}
.pd5b {padding-bottom:5px;}
.pd10b{padding-bottom:10px;}
.pd15b{padding-bottom:15px;}
.pd20b{padding-bottom:20px;}
.pd30b{padding-bottom:30px;}
.pd50b{padding-bottom:50px;}

.pd0l {padding-left:0px;}
.pd5l {padding-left:5px;}
.pd10l{padding-left:10px;}
.pd15l{padding-left:15px;}
.pd20l{padding-left:20px;}
.pd30l{padding-left:30px;}
.pd50l{padding-left:50px;}

/* align */
.fl-lt{float: left;}
.fl-rt{float: right;}
.fl-no{float: none;}
.al-ct{text-align: center;}
.al-lt{text-align: left;}
.al-rt{text-align: right;}
.al-clr{text-align: inherit;}
.vl-tp{ vertical-align: top; }
.vl-md{ vertical-align: middle; }
.vl-bt{ vertical-align: bottom; }
.vl-clr{text-align: inherit;}

/*.clearFix (NN,IE6 is outdated) */
.clearfix {/zoom:1;}
.clearfix:after{content: ""; display: block; clear: both;}
.clearb{ clear:both; }

/* pre */
.pre {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

/* block */
.hidden{ display: none; }
.block{ display: block; }
.iblock{ margin: 0; padding: 0; display:inline-block; /display:inline; /zoom:1; letter-spacing:normal; vertical-align: top;}
.rnd{ padding: 1em; border-radius: 1em; -webkit-border-radius: 1em; -moz-border-radius: 1em; }
.rnd-s{ padding: 0.5em; border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; }
.rnd-l{ padding: 2em; border-radius: 2em; -webkit-border-radius: 2em; -moz-border-radius: 2em; }
.tri-rb{width: 0;height: 0;border-top: 2em solid #f00; border-right: 2em solid transparent;border-bottom: 0.5em solid transparent;border-left: 2em solid transparent;}
.tri-nb{width: 0;height: 0;border-top: 2em solid #f00; border-right: 1em solid transparent;border-bottom: 0.5em solid transparent;border-left: 1em solid transparent;}
.tri-wb{width: 0;height: 0;border-top: 2em solid #f00; border-right: 5em solid transparent;border-bottom: 0.5em solid transparent;border-left: 5em solid transparent;}

.half-block{ width: 50%; vertical-align: top; }
.full-block{ width: 100%;}

/* columned list */
.half, .third, .quarter, .fifth, .sixth{display: block; list-style-type: none; margin: 0; padding: 0;  width: 100%; /zoom:1; }
.half:after, .third:after, .quarter:after, .fifth:after, .sixth:after{content: ""; display: block; clear: both;}
.half li, .third li, .quarter li, .fifth li, .sixth li{ float: left; }
.half li{ padding: 0 0.5%; width: 49% }
.third li{ padding: 0 0.5%; width: 32.3% }
.quarter li{ padding: 0 0.5%; width: 24% }
.fifth li{ padding: 0 0.5%; width: 19% }
.sixth li{ padding: 0 0.5%; width: 15.6% }

/* table */
table th{ white-space: nowrap;}
table td{ word-break: break-all;}
table .nowrap{ white-space: nowrap}
.nowrap{ white-space:   }
.tbl-sep{ border-collapse:separate; border-spacing: 2px;}
.tbl-sep th{ padding:0.5em; border-style: solid; border-width: 1px; vertical-align: middle;}
.tbl-sep td{ padding:0.5em; border-style: solid; border-width: 1px; vertical-align: top;}
.tbl-sep th{ border-color: #DDD; }
.tbl-sep td{ border-color: #777; }

.tbl-col{ border-collapse: collapse; border-style: solid; border-width: 1px; border-color: #DDD; }
.tbl-col th{ padding:0.5em; border-style: solid; border-width: 1px; vertical-align: middle;}
.tbl-col td{ padding:0.5em; border-style: solid; border-width: 1px; vertical-align: top;}
.tbl-col th{ border-color: #DDD; }
.tbl-col td{ border-color: #DDD; }

.tbl-a{ border-collapse: separate; border-spacing: 1px; }
.tbl-a th,
.tbl-a td{ padding:0.5em; vertical-align: top; color: #796BAE;}
.tbl-a th{ background: #f8eefd; }
.tbl-a td{ background: #FFF; }

/* list */
ul.list{ display: block; list-style-type: none; margin: 0; padding: 0;}
ul.list > li{ display: block; margin: 0; padding: 0;}
dl.list{ display: block; list-style-type: none; margin: 0; padding: 0;}
dl.list > dt{ display: block; margin: 0; padding: 0;}
dl.list > dd{ display: block; margin: 0; padding: 0;}
ul.ilist {display: block; list-style-type: none; margin: 0; padding: 0; font-size: 0; }
ul.ilist > li {  display: inline-block; vertical-align: top; /display: inline; /zoom: 1; list-style: none; font-size: 18px;}

ol.flush {list-style: none;padding-left: 0;display: table;}
ol.flush li:after {content: "";display: block;margin-bottom: 0.5em;}
ol.flush li {display: table-row;counter-increment: table-ol;}
ol.flush li:before {content: counter(table-ol) ".";display: table-cell;padding-right: 0.4em;text-align: right;}

/* frame */
.frm-sld{ border-style: solid; border-width: 1px; border-color: #DDD; padding: 4px; }
.frm-dot{ border-style: dotted; border-width: 1px; border-color: #DDD; padding: 4px; }

.frame-a{ background: #333333; padding: 20px; }
.frame-b{ background: #222; padding: 20px;}

.img-fr{ border-style: solid; border-width: 5px; border-color: #666; display: inline-block; line-height: 0; }

/* hr */
hr{ border-color: #222; border-width: 1px 0px 0px 0px; border-style: solid; height: 1px; /* 高さ(IE) */}
hr.dot{ border-color: #CCC; border-width: 1px 0px 0px 0px; border-style: dashed; height: 1px; /* 高さ(IE) */}

/* image */
img{max-width: 100%; height: auto; width: auto\9;}
img.bdimg{ border-width: 1px; border-color: #FFF; border-style: solid; }

/* button template */
.button-a{ font-size: 1em; margin-bottom: 0.4em; padding: 0.5em 0.5em; border-width: 3px; border-style: solid; font-weight: bold; text-decoration: none; display:inline-block; /display:inline; /zoom:1; letter-spacing:normal; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
.button-a span{ padding: 0.2em 20px; font-size: 1.2em; display: block; }
.button-a{  background-color: #24201B; border-color:#7F7A75; }
.button-a:hover{ color: #5C4534; background-color: #fcf5ee;}
.button-a span.ic1{ background-image: url(../images/common/button-a_icon1.png); background-repeat: no-repeat; background-position: 5px center; }

.button-b{ padding: 0.5em 0.5em; border: #F1DBA6 solid 2px; background: url(../images/common/button-b_bg.png) no-repeat left center; text-decoration: none; display: block;}
.button-b span{ padding: 0.5em 0 0.5em 25px; font-size: 1.1em; font-weight: bold; display: block; }
.button-b span{ color: #be0000; }
.button-b:hover span{ color: #5C4534;}

/* pagination */
.paging{ overflow: hidden; text-align: center; }
.paging .prev{float: left; width: 33%; }
.paging .next{float: right; width: 33%;}
.paging .cntr{ margin: 0 auto; width: 33%;}
.paging .half{ margin: 0 auto; width: 49%;}

/* marquee */
.marquee {
width:600px;
padding:0.5em 0;
overflow:hidden;
margin-bottom:10px;
position:relative;
}

.marquee p:after {
content:"";
white-space:nowrap;
padding-right:50px;
}

.marquee p {
margin:0;
padding-left:600px;
display:inline-block;
white-space:nowrap;
	-webkit-animation-name:marquee;
	-webkit-animation-timing-function:linear;
	-webkit-animation-duration:60s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:marquee;
	-moz-animation-timing-function:linear;
	-moz-animation-duration:60s;
	-moz-animation-iteration-count:infinite;
	-ms-animation-name:marquee;
	-ms-animation-timing-function:linear;
	-ms-animation-duration:60s;
	-ms-animation-iteration-count:infinite;
	-o-animation-name:marquee;
	-o-animation-timing-function:linear;
	-o-animation-duration:60s;
	-o-animation-iteration-count:infinite;
	animation-name:marquee;
	animation-timing-function:linear;
	animation-duration:60s;
	animation-iteration-count:infinite;
}
@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
  from   { -ms-transform: translate(0%);}
  99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
  from   { -o-transform: translate(0%);}
  99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

/* Utility ============================================================= */
/* hover and alpha */
.opacity:hover{filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
html>/**/body .opacity:hover { display /*\**/:inline-block\9; zoom /*\**/: 1\9;}/* IE8 */
.opacity:hover, x:-moz-any-link { background: #fff;}/* 新旧Firefox */
.opacity:hover, x:-moz-any-link, x:default { background: #fff;}/* 新旧Firefox */
/* rollover-swap (javascript) */
img.btn{}
/* rollover-fade (javascript) */
img.btn_fade{}
/* pointer (javascript) */
.pointer{}

/* improve link */
.ilink{ display: inline-block; padding: 0.5em 0.8em; border-radius: 0.3em; -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; }
.ilink span:before{ content:'> '; }
.ilink,
.ilink:visited,
.ilink:active{ background: #b8aadb; color: #FFF; }
.ilink:hover{ background: #f8f8ef; color: #7e709d; }

/* accodion list (javascript) */
.acd-list{ display: block; list-style-type: none; margin: 0; padding: 0;}
.acd-list .acd-chld{ display: block; margin: 0; padding: 0;}
.acd-list .acd-chld .acd-head > a{ display: block; }
/* accodion block (javascript) */
.acd-block{ display: block; }
.acd-block .acd-block-head > a{ display: block; }

/* wordpress visual editor ============================================================= */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

