<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="Keywords" content="芳文社,まんがタイム,きららキャラット,KRコミックス,得能正太郎,アニメ,新番,コミック,ゲーム" />
<meta name="description" content="青葉が高校を卒業して、入社したのはゲーム会社！小学生の頃大好きだったゲームを作った人が会社の先輩で…。芳文社「まんがタイムきららキャラット」の大人気作品が待望のTVアニメ化決定！​" />
<title>{:config('webname')}</title>

<meta name="viewport" content="width=1200" />
<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen">
<link rel="stylesheet" href="/css/style.css?upd=160326" type="text/css" media="screen">
<script type="text/javascript" src="/lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/lib/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="/lib/html5.js"></script><![endif]-->
<script type="text/javascript" src="/lib/colorbox/jquery.colorbox-min.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/colorbox/colorbox.css" media="all" />
<script type="text/javascript" src="/lib/snowfall.jquery.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/top.js"></script>
<style>
#BG .l0{ }
.k1,.k2,.k3,.k4,.k5,.k6,.k7,.k8{ display: none; }

#Page_Top #Catch1{ top:20px; left: 570px; }
#Page_Top #Catch2{ top:270px; left: 500px; }
#Page_Top #Catch1 span{ /*height: 379px;*/ height:0; }
#Page_Top #Catch2 span{ /*height: 223px;*/ height:0; }
#Header .kvex{ background: url(/assets/top/vis-201701.png); }
</style>
</head>
<body id="Page_Top" class="top-page">
<!-- ** #Wrap ** -->
<div id="Wrap" class="bg">
<!-- ** #Navibar ** -->
<div id="Navibar"><div class="inner">
<h1 id="Logo"><a href="index.html">NEW GAME!</a></h1><!-- <div id="Onair"><img src="/images/top_onair2.png" alt="2016年7月よりTOKYO MX、MBS、テレビ愛知、BS11、AT-XにてTVアニメ放送開始!"></div> --><div id="Social"><ul class="ilist">
<li class="tw"><a href="javascript:socShare('tw');" title="twitter">&nbsp;</a></li>
<li class="fb"><a href="javascript:socShare('fb');" title="facebook">&nbsp;</a></li>
<li class="gp"><a href="javascript:socShare('gp');" title="google+">&nbsp;</a></li>
</ul></div>
</div></div>
<!-- ** /#Navibar ** -->
<!-- ** #Header ** -->
<div id="Header"><div class="inner clearfix">


<div id="Ctbgdrm" class="frm-ctt"><div class="inr">&nbsp;</div></div>
<div class="kvex">&nbsp;</div>
<div class="k201606">&nbsp;</div>
<div class="k1">&nbsp;</div>
<div class="k5">&nbsp;</div>
<div class="k4">&nbsp;</div>
<div class="k3">&nbsp;</div>
<div class="k2">&nbsp;</div>

<div id="Catch1"><span>&nbsp;</span></div>
<div id="Catch2"><span>&nbsp;</span></div>
<ul id="Topic" class="ilist">
<li><a href="/product/music.html#minalbum"><img src="/assets/top/topic_18.png"></a></li>
<li><a href="/product/index.html#vol6"><img src="/assets/top/topic_17.png"></a></li>
<li><a href="/special/newspaper.html"><img src="/assets/top/topic_12.png"></a></li>

</ul>
<div id="NgnpBn"><a href="/special/newspaper.html#wp"><img src="/assets/top/banner-ngnp-wp.gif"></a></div>

<div id="TopNavi"><ul class="ilist">
<li><a href="/news/index.html" title="NEWS">&nbsp;</a></li>
<li><a href="/onair/index.html" title="ONAIR">&nbsp;</a></li>
<li><a href="/intro/index.html" title="INTRODUCTION">&nbsp;</a></li>
<li><a href="/story/index.html" title="STORY">&nbsp;</a></li>
<li><a href="/staffcast/index.html" title="STAFF&amp;CAST">&nbsp;</a></li>
<li><a href="/character/index.html" title="CHARACTER">&nbsp;</a></li>
<li><a href="/product/index.html" title="PRODUCT">&nbsp;</a></li>
<li><a href="/movie/index.html" title="MOVIE">&nbsp;</a></li>
<li><a href="/special/index.html" title="SPECIAL">&nbsp;</a></li>
<li>&nbsp;</li>
</ul></div>


</div></div>
<!-- ** /#Header ** -->
<!-- ** #Content ** -->
<div id="Content"><div class="inner clearfix">
<!-- ** #ContentSub ** -->
<div id="ContentSub">
&nbsp;
</div>
<!-- ** /#ContentSub ** -->
<!-- ** #ContentMain ** -->
<div id="ContentMain">

<div id="News">
<div class="ttl"><img src="/images/top_ttl_news.png" alt="NEWS"></div>
<div id="news-hd" class="news-list">
	<dl>Loading...</dl>
</div>
</div>
{literal}
<div id="Twitter">
	<div class="ttl"><a href="https://twitter.com/nganime" target="_blank"><img src="/images/top_ttl_twitter.png" alt="NEWS"></a></div>
	<div class="twt-widget">
	<a class="twitter-timeline" data-height="470" data-chrome="noheader nofooter noborders transparent" data-theme="light" href="https://twitter.com/nganime" data-widget-id="713353332069273600">@nganime からのツイート</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
{/literal}
<div id="Info">
<div class="ttl"><img src="/images/top_line_info.png"></div>
<div style=" padding: 0 15px 10px 10px;" class="clearfix">
<div style="width:240px;" class="fl-lt mg10r"><a href="http://hibiki-radio.jp/description/newgame/detail" target="_blank"><img src="/assets/top/banner_radio.jpg" ></a></div>
<p class="small b ">RADIO NEW GAME!<br />～コウとりんの進捗報告会！～</p>
<p class="small ac7">2016年7月5日より隔週火曜日配信</p>
</div>
<div style=" padding: 0 15px 10px 10px;" class="clearfix">
<div style="width:240px;" class="fl-lt mg10r"><a href="http://5pb.jp/games/newgame/" target="_blank"><img src="/assets/top/nggame_banner.jpg"></a></div>
<p class="small b ">NEW GAME!<br />-THE CHALLENGE STAGE!-<br /><span class="medium">（ニューゲーム ザ チャレンジステージ）</span></p>
</div>
</div>

</div>
<!-- ** /#ContentMain ** -->
</div></div>
<!-- ** /#Content ** -->
<!-- ** #Footer ** -->
<div id="Footer"><div class="inner clearfix">
<div id="FooterBanner">&nbsp;</div>
<div id="Copyright"><span>&copy; 得能正太郎・芳文社／NEW GAME!製作委員会</span></div>
</div></div>
<!-- ** /#Footer ** -->
<div id="BG">
	<div class="l2"><div class="inner">
		<div class="k8">&nbsp;</div>
		<div class="k6">&nbsp;</div>
		<div class="k7">&nbsp;</div>
	</div></div>
	<div class="l0">&nbsp;</div>
	<div class="sub0 vfit">
		<!--
		<div class="vfit prp_ck1">&nbsp;</div>
		<div class="vfit prp_ck2">&nbsp;</div>
		<div class="vfit prp_ck3">&nbsp;</div>
		<div class="vfit prp_ctrl1">&nbsp;</div>
		<div class="vfit prp_ctrl2">&nbsp;</div>
		<div class="vfit prp_ctrl3">&nbsp;</div>
		-->
		<div class="vfit prp_all">&nbsp;</div>
	</div>
</div>
</div>
<!-- ** /#Wrap ** -->
</body>
</html>