<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:config('webname')} - 修改套餐信息</title>

	{load href="/static/vendor/bootstrap/css/bootstrap.min.css,/static/vendor/metisMenu/metisMenu.min.css,/static/dist/css/sb-admin-2.css,/static/vendor/morrisjs/morris.css,/static/vendor/font-awesome/css/font-awesome.min.css" /}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
		{include file="../application/index/view/public/menu.html" /}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">修改套餐信息</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-4">
						<div class="panel panel-green">
							<form method="post">
							<div class="panel-heading text-center" style="border-color:#5cb85c;color: white;background-color: #5cb85c;">
								<input name="name" type="text" class="form-control" id="inputSuccess" value="{$planInfo.name}" placeholder="添加一个新套餐">
							</div>
							<div class="panel-body">
								<div class="form-group input-group">
                                    <span class="input-group-addon">最大攻击时间</span>
                                    <input name="maxtime" value="{$planInfo.maxtime}" type="text" class="form-control" placeholder="300">
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">最大并发量</span>
                                    <input name="maxboot" value="{$planInfo.maxboot}" type="text" class="form-control" placeholder="1">
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">每日最大攻击数量</span>
                                    <input name="maxnum" value="{$planInfo.maxnum}" type="text" class="form-control" placeholder="50">
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">套餐价格</span>
                                    <input name="price" value="{$planInfo.price}" type="text" class="form-control" placeholder="50">
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">套餐类型</span>
									<select name="vip" class="form-control">
										<option value="0">普通套餐</option>
										<option value="1" {eq name="planInfo.vip" value="1"}selected = selected"{/eq}>vip套餐</option>
									</select>
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">销售状态</span>
									<select name="status" class="form-control">
										<option value="0">停止销售</option>
										<option value="1" {eq name="planInfo.status" value="1"}selected = selected"{/eq}>正在销售</option>
									</select>
                                </div>
								<div class="form-group input-group">
                                    <span class="input-group-addon">计费周期</span>
                                    <input name="day" value="{:$planInfo['cycle']/86400}" type="text" class="form-control" placeholder="7">
									<span class="input-group-addon">天</span>
                                </div>
								<button type="submit" class="btn btn-success btn-block col-lg-4">修改</button>
							</div>
							</form>
						</div>
					</div>
			</div>
			
		</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	{load href="/static/vendor/jquery/jquery.min.js,/static/vendor/bootstrap/js/bootstrap.min.js,/static/vendor/metisMenu/metisMenu.min.js,/static/vendor/raphael/raphael.min.js,/static/vendor/morrisjs/morris.min.js,/static/dist/js/sb-admin-2.js" /}

</body>

</html>