<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:config('webname')}</title>

	{load href="/static/vendor/bootstrap/css/bootstrap.min.css,/static/vendor/metisMenu/metisMenu.min.css,/static/dist/css/sb-admin-2.css,/static/vendor/morrisjs/morris.css,/static/vendor/font-awesome/css/font-awesome.min.css" /}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
		{include file="public/menu" /}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">发起攻击</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

			<div class="row">
				<div class="col-lg-4">
					<form method="post">
						<div class="panel panel-red">
							<div class="panel-heading">
								<i class="fa fa-fire fa-fw"></i> 发起攻击
							</div>
							<div class="panel-body">
								<div class="form-group input-group">
									<span class="input-group-addon">主机:
									</span>
									<input type='text' name="host" class="form-control" placeholder="8.8.8.8">
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">端口:
									</span>
									<input type='text' name="port" class="form-control" placeholder="80">
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">时间:
									</span>
									<input type='text' name="time" class="form-control" placeholder="60">
								</div>
								<div class="form-group input-group">
									<span class="input-group-addon">模式:
									</span>
									<select name="mode" class="form-control">
										<optgroup label="反射型">
										{volist name="methodList.reflect" id="vo"}
											<option style="text-transform:uppercase;" value="{$vo}">{$vo}</option>
										{/volist}
										</optgroup>
										<optgroup label="通常型">
										{volist name="methodList.usually" id="vo"}
											<option style="text-transform:uppercase;" value="{$vo}">{$vo}</option>
										{/volist}
										</optgroup>
										<optgroup label="7层模式">
										{volist name="methodList.application" id="vo"}
											<option style="text-transform:uppercase;" value="{$vo}">{$vo}</option>
										{/volist}
										</optgroup>
									</select>
								</div>
								
								<div class="form-group">
									<label>节点类型:</label>
									 <label class="radio-inline">
										<input type="radio" name="vip" id="optionsRadiosInline1" value="0" checked="">普通节点
									</label>
									<label class="radio-inline">
										<input type="radio" name="vip" id="optionsRadiosInline2" value="1">vip节点
									</label>
							   </div>
							</div>
							<div class="panel-footer">
								<button type="submit" class="btn btn-success">开始攻击</button>
							</div>
						</div>
					</form>
                    <!-- /.col-lg-4 -->
                </div>
				<div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            攻击历史
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
								<table class="table">
                                    <thead>
                                        <tr>
                                            <th>ip</th>
                                            <th>模式</th>
                                            <th>时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
									{volist name='historyList' id='vo'}
											<tr>
                                            <td>{$vo.ip}</td>
                                            <td>{$vo.mode}</td>
                                            <td>{$vo.time}</td>
											{if condition="$vo['start_time'] + $vo['time'] elt time() and $vo['stop'] neq 1"}
												<td>已结束</td>
											{elseif condition="$vo['start_time'] + $vo['time'] gt time() and $vo['stop'] neq 1"/}
											<td>进行中</td>
											{else /}
											<td>已停止</td>
											{/if}
											{if condition="$vo['start_time'] + $vo['time'] elt time() and $vo['stop'] neq 1"}
												<td><button type="button" class="btn btn-info disabled">已结束</button></td>
											{elseif condition="$vo['start_time'] + $vo['time'] gt time() and $vo['stop'] neq 1"/}
											<td><a href="{:url('index/hub/stop',['id'=>$vo['id']])}" class="btn btn-primary">停止</a></td>
											{else /}
											<td><button type="button" class="btn btn-info disabled">已停止</button></td>
											{/if}
                                        </tr>
									{/volist}
									</tbody>
                                </table>
								                            </div>
							                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
			</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	{load href="/static/vendor/jquery/jquery.min.js,/static/vendor/bootstrap/js/bootstrap.min.js,/static/vendor/metisMenu/metisMenu.min.js,/static/vendor/raphael/raphael.min.js,/static/vendor/morrisjs/morris.min.js,/static/dist/js/sb-admin-2.js" /}

</body>

</html>