<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:config('webname')}</title>

	{load href="/static/vendor/bootstrap/css/bootstrap.min.css,/static/vendor/metisMenu/metisMenu.min.css,/static/dist/css/sb-admin-2.css,/static/vendor/morrisjs/morris.css,/static/vendor/font-awesome/css/font-awesome.min.css" /}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
		{include file="public/menu" /}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">购买套餐</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

			<div class="row">
			{volist name='plansInfo' id="vo"}
				<!--套餐-->
				<div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            {$vo.name}
                        </div>
                        <div class="panel-body">
                                <span class="list-group-item">
                                    <i class="glyphicon glyphicon-fire fa-fw"></i> 最大攻击时间
                                    <span class="pull-right text-muted ">{$vo.maxtime}</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-fire fa-fw"></i> 最大并发
                                    <span class="pull-right text-muted ">{$vo.maxboot}</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-fire fa-fw"></i> 每日最大攻击数量
                                    <span class="pull-right text-muted ">{$vo.maxnum}</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-rmb fa-fw"></i> 套餐价格
                                    <span class="pull-right text-muted ">{$vo.price}</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> 套餐类型
                                    <span class="pull-right text-muted ">
									{eq name="$vo.vip" value="1"}
									vip套餐
									{else/}
									普通套餐
									{/eq}
									</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-reorder fa-fw"></i> 销售状态
                                    <span class="pull-right text-muted ">
									{eq name="$vo.status" value="1"}
									正在销售
									{else/}
									停止销售
									{/eq}
									</span>
                                </span>
								<span class="list-group-item">
                                    <i class="glyphicon glyphicon-time fa-fw"></i> 计费周期
                                    <span class="pull-right text-muted ">{:$vo['cycle']/86400}天</span>
                                </span>
							<a href="{:Url('Plans/alipay',['id'=>$vo['id']])}" class="btn btn-default col-lg-4 btn-block">购买套餐</a>
						</div>
						
                    </div>
                </div>
				<!--套餐结束-->
				{/volist}
				<!--api-->
				{eq name="api" value="1"}
				<div class="col-lg-3">
                    <div class="panel panel-green">
                        <div class="panel-heading text-center">
                            API权限                        </div>
                        <div class="panel-body">
                                <span class="list-group-item">
                                    <i class="glyphicon glyphicon-fire fa-fw"></i>注意:API权限只是API使用的权限,不附带任何套餐,和套餐到期时间分别计费.
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-fire fa-fw"></i> 最大并发
                                    <span class="pull-right text-muted ">和用户套餐相同</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-fire fa-fw"></i> 每日最大攻击数量
                                    <span class="pull-right text-muted ">和用户套餐相同</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-rmb fa-fw"></i> 套餐价格
                                    <span class="pull-right text-muted ">30</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-star fa-fw"></i> 套餐类型
                                    <span class="pull-right text-muted ">
																		和用户套餐相同
																		</span>
                                </span>
                                <span class="list-group-item">
                                    <i class="fa fa-reorder fa-fw"></i> 销售状态
                                    <span class="pull-right text-muted ">
																		正在销售
																		</span>
                                </span>
								<span class="list-group-item">
                                    <i class="glyphicon glyphicon-time fa-fw"></i> 计费周期
                                    <span class="pull-right text-muted ">30天</span>
                                </span>
							<a href="{:Url('Index/Plans/buy',['id'=>'api'])}" class="btn btn-default col-lg-4 btn-block">购买套餐</a>
						</div>
						
                    </div>
                </div>
				{/eq}
				<!--api-->
			</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	{load href="/static/vendor/jquery/jquery.min.js,/static/vendor/bootstrap/js/bootstrap.min.js,/static/vendor/metisMenu/metisMenu.min.js,/static/vendor/raphael/raphael.min.js,/static/vendor/morrisjs/morris.min.js,/static/dist/js/sb-admin-2.js" /}

</body>

</html>