<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{:config('webname')} - 会员信息编辑</title>

	{load href="/static/vendor/bootstrap/css/bootstrap.min.css,/static/vendor/metisMenu/metisMenu.min.css,/static/dist/css/sb-admin-2.css,/static/vendor/morrisjs/morris.css,/static/vendor/font-awesome/css/font-awesome.min.css" /}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
		{include file="../application/index/view/public/menu.html" /}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">会员信息编辑</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

				<div class="row">
					<div class="col-lg-4">
						<div class="panel panel-green">
							<div class="panel-heading">
								<i class="fa fa-user"></i> [{$userEdit.username}]的信息 
							</div>
							<form method="post">
								<div class="panel-body">
									<div class="form-group input-group">
										<span class="input-group-addon">用户名</span>
										<input type="text" value="{$userEdit.username}" disabled="true" class="form-control" placeholder="用户名">
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">邮箱</span>
										<input name="email" type="text" value="{$userEdit.email}" class="form-control" placeholder="用户的邮箱">
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">密码</span>
										<input name="passwd" type="text" class="form-control" placeholder="不改请留空">
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">用户状态</span>
												<div class="form-group">
												<select name="status" class="form-control">
													<option value="0">封禁</option>
													<option value="1" {eq name="userEdit.status" value="1"}selected="selected"{/eq}>正常</option>
													<option value="2" {eq name="userEdit.status" value="2"}selected="selected"{/eq}>未激活</option>
												</select>
											</div>
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">用户类型</span>
												<select name="status" class="form-control">
													<option value="1">普通用户</option>
													<option value="2" {eq name="userEdit.type" value="2"}selected="selected"{/eq}>管理员</option>
												</select>
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">所属套餐</span>
												<select name="plan" {if condition="$userEdit['expiration'] > time()"}disabled="true"{/if} class="form-control">
												{volist name="planInfo" id="vo"}
													<option value="{$vo.id}" {if condition="$vo['id'] eq $userEdit['plan']"}selected="selected"{/if}>{$vo.name}</option>
												{/volist}
												</select>
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">套餐类型</span>
												<select name="vip" class="form-control">
													<option value="0">普通套餐</option>
													<option value="1" {eq name="userEdit.vip" value="1"}selected="selected"{/eq}>vip套餐</option>
												</select>
									</div>
									<div class="form-group input-group">
										<span class="input-group-addon">开通或续期</span>
										<input name="day" type="text" value="" class="form-control" placeholder="7">
										<span class="input-group-addon">天</span>
									</div>
								</div>
								<div class="panel-footer">
									<button type="submit" class="btn btn-success">提交修改</button>
								</div>
							</form>
						</div>
                    <!-- /.col-lg-4 -->
                </div>
				</div>
			</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	{load href="/static/vendor/jquery/jquery.min.js,/static/vendor/bootstrap/js/bootstrap.min.js,/static/vendor/metisMenu/metisMenu.min.js,/static/vendor/raphael/raphael.min.js,/static/vendor/morrisjs/morris.min.js,/static/dist/js/sb-admin-2.js" /}

</body>

</html>